.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content:  space-around;
  padding: 20px;
}

.dashboard-card {
  display: flex;
  align-items: center;
  border-radius: 16px;
  color: #fff;
  padding: 20px;
  flex: 1 1 220px;
  min-width: 280px;
  max-width: 300px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  transition: transform 0.2s ease-in-out;
}

.dashboard-card:hover {
  transform: translateY(-5px);
}

.icon-box {
  background: rgba(255, 255, 255, 0.2);
  padding: 12px;
  border-radius: 12px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}

.card-content h2 {
  margin: 4px 0;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
}
